---
title: Index Page
---
extends layouts/_layout
block content
  // partial example
  include ./home/intro
  //- include ./home/intro
  include ./home/talants
  .payment-img
    img(src="img/payment-img.png", alt="")
  include ./home/payment
  include ./home/article
  include ./home/team