---
title: Index Page
---
extends layouts/_layout
block content
  // partial example
  include ./home/intro
  include ./home/talants
  .video
    video(src="img/video.mp4" )
    a(href="#")
      +icon('play')
  include ./home/payment-option
  .payment-img
    img(src="img/payment-img.png", alt="")
  include ./home/payment
  include ./home/article
  include ./home/team