---
title: Privacy Policy
headerClass: header-secondary
---
extends layouts/_layout
block content
  .content
    .container
      h1 Privacy Policy
      strong Information Provided as Mandated by Article 13 GDPR
      p If this is your first interaction with us, Art. 12, 13 GDPR mandates that we make available to you the following  mandatory data protection related information: If you are contacting us via e-mail, we will process your personal data only if we have a legitimate interest in the processing of this data (Art. 6 Sect. 1 lit. f GDPR), if you have consented to the processing of your data (Art. 6 Sect. 1lit. a GDPR), if the processing of the data is required for the development, establishment,content or modification of a legal relationship between you and our company (Art. 6 Sect. 1 lit. bGDPR) or if any other legal provision permits the processing of this data. Your personal data willremain in our possession until you ask us to delete the data or you revoke your consent to storethe data or if the purpose the data stored is required for no longer exists (e.g. once your requesthas been conclusively processed). This shall be without prejudice to any compelling statutoryprovisions – in particular tax and commercial law based retention periods. You have the right toat any time receive free information concerning the origins, recipients and purpose of your dataarchived by us. You also have a right to object, to data portability and a right to log a complaintwith the competent supervisory agency. Moreover, you can demand the correction, eradicationand, under certain circumstances, the restriction of the processing of your personal data. Formore details, please consult our Data Privacy Policy ([URL der Datenschutzerklärung derWebsite]).
      a(href="index.html") go back