//BEGIN footer
footer.footer
  .container
    ul
      li 
        p © 2020 Get talents     
      li 
        a(href="policy.html") Privacy Policy
      li
        a(href="#") Terms & Conditions
      li
        a(href="#") Imprint
//END footer