@import intro
@import talants
@import payment
@import article
@import team


.payment-img
  overflow: hidden
  +center
  img
    width: 100%
    +r(767)
      width: 767px

.title
  margin-bottom: 75px
  +r(767)
    margin-bottom: 30px
  h2
    font-size: 48px
    font-weight: 500
    line-height: 1.21
    text-align: center
    color: #000000
    +relative-x
    max-width: 860px
    width: 100%
    margin-bottom: 15px
    +r(767)
      font-size: 18px
  p
    font-size: 24px
    font-weight: 500
    line-height: 1.21
    text-align: center
    color: #979797
    +r(767)
      font-size: 14px