.icon-bitcoin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-building {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-calendar-alt {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cloud-download-alt {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-code {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-coins {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-database {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-file-contract {
  width: 0.8em;
  height: 1em;
  fill: initial;
}
.icon-hands-helping {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-images {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-language {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-money-bill-alt {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-money-bill {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-money-check {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.icon-paint-brush {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pen-alt {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-server {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user-friends {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
