section.article
  .container
    .row
      .col-lg-4
        .article__img
          img(src="img/article-img.png", alt="")
      .col-lg-8
        .article__text
          p We have been where you are now. We know your dreams. We know that you have been waiting for a place where you can find the excellent talents you need to grow your business or launch your amazing idea, where financing is not a problem and you have the opportunity to finance your projects in a new and disruptive way. A place where you can join and be part of new ideas, businesses and startups. 
          p Our team also dreams big. And we want to share with you our goal of a new world where each talent finds its place and everyone's business can grow, boosting the economy. That's why in Gettalents your business only pays for what it needs, through truly flexible and full payment options without any kind of fees. And as a freelancer you earn according to what you are worth, not according to what you pay in advertising or extra fees. No tricks.
          p We combined freelancing and crowdinvesting, just for you!
          p We bring talents and businesses together, and allow everyone to find what they need and negotiate creative payment options. Here you can find 
            span this and much more:
          ul
            li Find high quality profiles and qualified companies
            li Negotiate and contract through our quick and easy to use system
            li Use flexible and unique payment options
            li Protect your privacy and intellectual property
            li  … While staying safe and legally proven and absolutely for free
          p And we make this easy, fast and fun!
          b Great projects. Successful entrepreneurs. excellent talents. Flexible payments. Profit from  shares. Trustworthy business. Get in the new game. Get ahead. Be yourself. Let's achieve great things together.