section.intro
  .container
    .intro__content
      h1 Freelancing & Financing
      .intro__row
        input(type="checkbox" id="checkbox")
        label(for="checkbox") 
          span Find Talents
          b Join projects
      a(href="#") Start
        strong get your offers non-binding & free