section.intro
  .container
    .intro__content
      h1 Freelancing & Financing
      //- .intro__row
      //-   input(type="checkbox" id="checkbox")
      //-   label(for="checkbox") 
      //-     span Find Talents
      //-     b Join projects
      form(action="")
        .intro__input
          input(type="text" placeholder="Please enter your email")
        button Start
          strong get your offers non-binding & free