section.intro
  .container
    .intro__content
      h1 Freelancing & Financing
      .intro__row
        span Find Talents
        input(type="checkbox" id="checkbox")
        label(for="checkbox") 
        b Join projects
      a(href="#") Start
        strong get your offers non-binding & free