section.payment-option
  .container
    .title
      h2 New and creative Payment options to finance your business 
      p Legally proved. Easy to use. Combine payment options.
    .row
      .col-xl-4.col-md-6
        .payment-option__block
          .payment-option__block__img
            +icon('calendar-alt')
          p Pay in monthly rates
      .col-xl-4.col-md-6
        .payment-option__block
          .payment-option__block__img
            +icon('file-contract')
          p Pay per milestones
      .col-xl-4.col-md-6
        .payment-option__block
          .payment-option__block__img
            +icon('money-bill')
          p Pay with Equity
      .col-xl-4.col-md-6
        .payment-option__block
          .payment-option__block__img
            +icon('clock')
          p Pay later
      .col-xl-4.col-md-6
        .payment-option__block
          .payment-option__block__img
            +icon('money-check')
          p Pay with coupons
      .col-xl-4.col-md-6
        .payment-option__block
          .payment-option__block__img
            +icon('bitcoin')
          p Pay with Crypto