section.payment
  .container
    .title
      h2 We accept all Payments
    .swiper-container.swiper-payment
      .swiper-wrapper
        .swiper-slide
          img(src="img/payment/american-exspress.png", alt="")
        .swiper-slide
          img(src="img/payment/stripe.png", alt="")
        .swiper-slide
          img(src="img/payment/apple-pay.png", alt="")
        .swiper-slide
          img(src="img/payment/paypal.png", alt="")
        .swiper-slide
          img(src="img/payment/payoneer.png", alt="")
        .swiper-slide
          img(src="img/payment/diners-club.png", alt="")
        .swiper-slide
          img(src="img/payment/google-pay.png", alt="")


        .swiper-slide
          img(src="img/payment/klarna.png", alt="")
        .swiper-slide
          img(src="img/payment/lemonway.png", alt="")
        .swiper-slide
          img(src="img/payment/mastercard.png", alt="")
        .swiper-slide
          img(src="img/payment/payu.png", alt="")
        .swiper-slide
          img(src="img/payment/sepa.png", alt="")
        .swiper-slide
          img(src="img/payment/visa.png", alt="")
        .swiper-slide
          img(src="img/payment/wirecard.png", alt="")
      .swiper-pagination.swiper-pagination-payment