section.talants
  .container
    .title
      h2 Find Talents for your Projects
    .row
      .col-lg-6
        .row
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('code')
              p Web, Mobile & Software
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('hands-helping')
              p Consulting
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('money-bill-alt')
              p Sales & Marketing
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('building')
              p Engineering & Architecture
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('database')
              p Data Science & Analytics
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('server')
              p Admin Support
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('cloud-download-alt')
              p Hosting & Cloud
      .col-lg-6.mobile-slide
        .row
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('coins')
              p Investor & Business Angel
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('paint-brush')
              p Design & Creative
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('language')
              p Translation
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('pen-alt')
              p Texting & Writing
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('user-friends')
              p Customer Service
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('images')
              p Media, PR & Advertising
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('hands-helping')
              p SaaS
      .col-lg-12
        a(href="#").mobile-open-slide More categories