section.talants
  .container
    .title
      h2 Find Talents for your Projects
    .row
      .col-lg-6
        .row
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Web, Mobile & Software
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('hands-helping')
              p Consulting
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Sales & Marketing
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Engineering & Architecture
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Data Science & Analytics
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Admin Support
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Hosting & Cloud
      .col-lg-6
        .row
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Investor & Business Angel
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Design & Creative
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Translation
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Texting & Writing
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Customer Service
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('')
              p Media, PR & Advertising
          .col-lg-12
            .talants__block
              .talants__block__img
                +icon('hands-helping')
              p SaaS