section.team
  .container
    .title
      h2 Our Team
      p We are transformer, disrupter, digitizer, enabler and game changer for society & economy
    .swiper-container.swiper-team
      .swiper-wrapper
        .swiper-slide
          .team__block
            .team__block__img
              img(src="img/team/eugene.jpg", alt="")
            .team__block__text
              h4 Eugen
              p "Life is never too short for good ideas"
              a(href="#") LinkedIn
        .swiper-slide
          .team__block
            .team__block__img
              img(src="img/team/maria.jpg", alt="")
            .team__block__text
              h4 Ana
              p “Make it happen” philosophy lover
              a(href="#") LinkedIn
        .swiper-slide
          .team__block
            .team__block__img
              img(src="img/team/greg.jpg", alt="")
            .team__block__text
              h4 Greg
              p "A problem well defined is half solved!"
              a(href="#") LinkedIn
        .swiper-slide
          .team__block
            .team__block__img
              img(src="img/team/thamara.jpg", alt="")
            .team__block__text
              h4 Thamara
              p Junior Front End Developer
              a(href="#") LinkedIn
        .swiper-slide
          .team__block
            .team__block__img
              img(src="img/team/ruslan.jpg", alt="")
            .team__block__text
              h4 Ruslan
              p UX/UI Designer. Love what you do and do what you love.
              a(href="#") LinkedIn
        .swiper-slide
          .team__block
            .team__block__img
              img(src="img/team/achim.jpg", alt="")
            .team__block__text
              h4 Achim
              p Full Stack Software Developer
              a(href="#") LinkedIn
        .swiper-slide
          .team__block
            .team__block__img
              img(src="img/team/vincent.jpg", alt="")
            .team__block__text
              h4 Vincent
              p Business Developer with a passion for disruptive solutions
              a(href="#") LinkedIn
      .swiper-pagination-team.swiper-pagination