section.team
  .container
    .title
      h2 Our Team
      p We are transformer, disrupter, digitizer, enabler and game changer for society & economy
    .team__row
      .team__block
        .team__block__img
          img(src="https://via.placeholder.com/135x135.png", alt="")
        .team__block__text
          h4 John Doe
          p Short description about this person
          a(href="#") LinkedIn
      .team__block
        .team__block__img
          img(src="https://via.placeholder.com/135x135.png", alt="")
        .team__block__text
          h4 John Doe
          p Short description about this person
          a(href="#") LinkedIn
      .team__block
        .team__block__img
          img(src="https://via.placeholder.com/135x135.png", alt="")
        .team__block__text
          h4 John Doe
          p Short description about this person
          a(href="#") LinkedIn
      .team__block
        .team__block__img
          img(src="https://via.placeholder.com/135x135.png", alt="")
        .team__block__text
          h4 John Doe
          p Short description about this person
          a(href="#") LinkedIn
      .team__block
        .team__block__img
          img(src="https://via.placeholder.com/135x135.png", alt="")
        .team__block__text
          h4 John Doe
          p Short description about this person
          a(href="#") LinkedIn